.LaundryPanel {
    position: relative;
    width: 80%;
    padding-bottom: 18%;
    left: 10%;
    background-color: #cccccc;
    border-left: solid black .5mm;
    border-right: solid black .5mm;
    border-top: solid black .5mm;
}