.LaundryHeadBoard {
    position: relative;
    width: 80%;
    padding-bottom: 18%;
    left: 10%;
    background-color: #cccccc;
    border-left: solid black .5mm;
    border-right: solid black .5mm;
    border-top: solid black .5mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}